<p id="notice"><%= notice %></p>

<p>
  <b>Otherfriend:</b>
  <%= @friendship.otherfriend %>
</p>


<%= link_to 'Edit', edit_friendship_path(@friendship) %> |
<%= link_to 'Back', edit_friend_registration_path %>
