<h1>Pages#home</h1>


<p>here will be a map if user is loged in otherwise a "what is friendmap?" page</p>

<p>
    <%= link_to "Sign Up Now!", new_friend_registration_path, class: "btn btn-primary btn-large" %>
</p>
<%= session.inspect %>