@import 'bootstrap';

@import 'bootstrap-responsive';

body{
	padding-top: 50px;
}

#accordin{
	background-color: purple;
}

.panel .panel-default .panel-heading{
	background-color: yellow;	
}